__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.venv
venv/
ENV/
env/
*.log
data/
mlruns/
node_modules/
*.html
*.js
*.css
vite.config.js
package.json
package-lock.json

